version: '3.8'

services:
  # API Server
  api_server:
    image: api_server:latest
    container_name: api_server
    platform: linux/amd64  
    build:
      context: .
      dockerfile: packages/api_server/Dockerfile
    env_file:
      - .env.development
    environment:
      REDIS_URL: "redis://redis:6379/0"
      CELERY_BROKER_URL: "redis://redis:6379/1"
      CELERY_RESULT_BACKEND: "redis://redis:6379/2"
      MODEL_SERVER_URL: "http://ml_server:8002"
    ports:
      - "8000:8000"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped

  # Celery Worker
  celery_worker:
    image: celery_worker:latest
    container_name: celery_worker
    platform: linux/amd64  
    build:
      context: .
      dockerfile: packages/celery_worker/Dockerfile
    env_file:
      - .env.development
    environment:
      # Docker 네트워크 내에서 사용할 주소로 오버라이드
      REDIS_URL: "redis://redis:6379/0"
      CELERY_BROKER_URL: "redis://redis:6379/1"
      CELERY_RESULT_BACKEND: "redis://redis:6379/2"
      MODEL_SERVER_URL: "http://ml_server:8002"
      ML_SERVER_GRPC_ADDRESS: "ml_server:50051"
    networks:
      - app-network
    restart: unless-stopped

  # # ML Server (OCR) - gRPC
  ml_server:
    image: ml_server:latest
    container_name: ml_server
    platform: linux/amd64
    build:
      context: .
      dockerfile: packages/ml_server/Dockerfile.gpu
    env_file:
      - .env.development
    environment:
      OCR_ENGINE : "paddleocr"
      OCR_REC: ""
      OCR_DET: ""
    ports:
      - "8001:8001"
      - "50051:50051"  # gRPC 포트
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

networks:
  app-network:
    driver: bridge
